<h6>Phase: Test Phase</h6>
<p><strong>Starts on:</strong> Sep 15, 2023</p>
<p><strong>Ends on:</strong> Sep 25, 2023</p>
<p>During the Test Phase, which takes place in the final 1 week before the submission deadline, we will release a hidden test set. 
Teams can then submit their results for this hidden test set.</p>
<p>The final winners will be decided based on this set.</p>
<p><strong>Max submissions/day:</strong> 5</p>
<p><strong>Max submissions/month:</strong> 50</p>
<p><strong>Max total submissions:</strong> 50</p>
<p><strong>Max concurrent submissions:</strong> 3</p>